.DS_Store
frontend/.env.local
frontend/.next
frontend/node_modules
supabase/.branches
supabase/.temp
supabase/functions/supabase-shared/
supabase/functions/edge-models/
supabase/functions/edge-shared/
docs/
